@font-face {
  font-family: 'ahellya';
  src: url('@/font/ahellya/ahellya.ttf');
}
.ahellya {
  font-family: 'ahellya';
}

@font-face {
  font-family: 'cruinBold';
  src: url('@/font/cruinn/cruinBold.ttf');
}
.cruinBold {
  font-family: 'cruinBold';
}

@font-face {
  font-family: 'cruinMedium';
  src: url('@/font/cruinn/cruinMedium.ttf');
}
.cruinMedium {
  font-family: 'cruinMedium';
}

@font-face {
  font-family: 'factoria';
  src: url('@/font/factoriaTest/factoria.otf');
}
.factoria {
  font-family: 'factoria';
}

@font-face {
  font-family: 'interBold';
  src: url('@/font/inter/interBold.ttf');
}
.interBold {
  font-family: 'interBold';
}

@font-face {
  font-family: 'interMedium';
  src: url('@/font/inter/interMedium.ttf');
}
.interMedium {
  font-family: 'interMedium';
}

@font-face {
  font-family: 'interRegular';
  src: url('@/font/inter/interRegular.ttf');
}
.interRegular {
  font-family: 'interRegular';
}

@font-face {
  font-family: 'metana';
  src: url('@/font/metana/metana.otf');
}
.metana {
  font-family: 'metana';
}

@font-face {
  font-family: 'open';
  src: url('@/font/open/open.ttf');
}
.open {
  font-family: 'open';
}

@font-face {
  font-family: 'ostrovsky';
  src: url('@/font/ostrovsky/ostrovsky.otf');
}
.ostrovsky {
  font-family: 'ostrovsky';
}

@font-face {
  font-family: 'sofiaLight';
  src: url('@/font/sofia/sofiaLight.otf');
}
.sofiaLight {
  font-family: 'sofiaLight';
}

@font-face {
  font-family: 'sofiaMedium';
  src: url('@/font/sofia/sofiaMedium.otf');
}
.sofiaMedium {
  font-family: 'sofiaMedium';
}

@font-face {
  font-family: 'sofiaRegular';
  src: url('@/font/sofia/sofiaRegular.otf');
}
.sofiaRegular {
  font-family: 'sofiaRegular';
}

@font-face {
  font-family: 'sofiaSemibold';
  src: url('@/font/sofia/sofiaSemibold.otf');
}
.sofiaSemibold {
  font-family: 'sofiaSemibold';
}
