@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ahellya';
  src: url('@/font/ahellya/ahellya.ttf');
}
.ahellya {
  font-family: 'ahellya';
}

@font-face {
  font-family: 'cruinBold';
  src: url('@/font/cruinn/cruinBold.ttf');
}
.cruinBold {
  font-family: 'cruinBold';
}

@font-face {
  font-family: 'cruinMedium';
  src: url('@/font/cruinn/cruinMedium.ttf');
}
.cruinMedium {
  font-family: 'cruinMedium';
}

@font-face {
  font-family: 'factoria';
  src: url('@/font/factoriaTest/factoria.otf');
}
.factoria {
  font-family: 'factoria';
}

@font-face {
  font-family: 'interBold';
  src: url('@/font/inter/interBold.ttf');
}
.interBold {
  font-family: 'interBold';
}

@font-face {
  font-family: 'interMedium';
  src: url('@/font/inter/interMedium.ttf');
}
.interMedium {
  font-family: 'interMedium';
}

@font-face {
  font-family: 'interRegular';
  src: url('@/font/inter/interRegular.ttf');
}
.interRegular {
  font-family: 'interRegular';
}

@font-face {
  font-family: 'metana';
  src: url('@/font/metana/metana.otf');
}
.metana {
  font-family: 'metana';
}

@font-face {
  font-family: 'open';
  src: url('@/font/open/open.ttf');
}
.open {
  font-family: 'open';
}

@font-face {
  font-family: 'ostrovsky';
  src: url('@/font/ostrovsky/ostrovsky.otf');
}
.ostrovsky {
  font-family: 'ostrovsky';
}

@font-face {
  font-family: 'sofiaLight';
  src: url('@/font/sofia/sofiaLight.otf');
}
.sofiaLight {
  font-family: 'sofiaLight';
}

@font-face {
  font-family: 'sofiaMedium';
  src: url('@/font/sofia/sofiaMedium.otf');
}
.sofiaMedium {
  font-family: 'sofiaMedium';
}

@font-face {
  font-family: 'sofiaRegular';
  src: url('@/font/sofia/sofiaRegular.otf');
}
.sofiaRegular {
  font-family: 'sofiaRegular';
}

@font-face {
  font-family: 'sofiaSemibold';
  src: url('@/font/sofia/sofiaSemibold.otf');
}
.sofiaSemibold {
  font-family: 'sofiaSemibold';
}

.custom-container {
  @apply container mx-auto max-w-[1360px];
}

.custom-text {
  @apply leading-[1.325] tracking-[0.36px];
}

.h1With48PxGreen {
  @apply ahellya leading-[1.325] tracking-[0.36px] text-[48px] text-cGreen pb-[10px] border-b-[2px] border-[#D2DBDB] mb-[26px] xl:text-[40px] lg:text-[32px] sm:text-2xl xl:mb-5 md:mb-4;
}

.h1With48PxWhite {
  @apply ahellya leading-[1.325] tracking-[0.36px] text-[48px] text-[#EEEEEE] pb-[10px] border-b-[2px] border-[#D2DBDB] mb-[26px] xl:text-[40px] lg:text-[32px] sm:text-2xl xl:mb-5 md:mb-4;
}

.custom-list {
  @apply list-none cursor-pointer leading-[1.325] tracking-[0.36px] text-[#657E7E] flex flex-col gap-[6px];
}

.li-hover {
  @apply hover:text-[#B1C9C8] hover:underline transition duration-300;
}

.partners-logo {
  @apply flex items-center gap-[10px] sofiaMedium leading-[1.5] text-[#494949] hover:bg-cGreen transition duration-300;
}

.link-hover {
  @apply flex items-center justify-center size-[34px] rounded-full overflow-hidden ring-1 ring-[#CFD7D7] hover:bg-white/20 transition duration-300;
}

.custom-responsive {
  @apply 2xl:px-5 sm:p-2;
}

.boxShadow {
  @apply shadow-[0_4px_4px_0_rgba(0,0,0,0.25)];
}

/* Delete ↓ */
.category-newsButton {
  @apply py-[5px] px-[15px] ring-1 ring-inset ring-[#657E7E] rounded-[90px] overflow-hidden text-[#657E7E] hover:ring-cGreen hover:text-cGreen flex items-center gap-1;
}

.category-oldButton {
  @apply py-[3px] px-[10px] ring-1 ring-inset ring-[#657E7E] rounded-[90px] overflow-hidden text-[#657E7E] hover:ring-cGreen hover:text-cGreen text-[12px] lg:text-[10px];
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox uchun */
  -ms-overflow-style: none; /* Internet Explorer 10+ uchun */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari va Edge uchun */
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.text-gradient {
  background: linear-gradient(to right, #ffba27, #ffe3a7);
  -webkit-background-clip: text;
  color: transparent;
  transition:
    color 0.5s ease-in-out,
    background 0.5s ease-in-out;
}

button:hover .text-gradient {
  color: transparent;
  background: linear-gradient(to right, #022726, #173c3c);
  -webkit-background-clip: text;
}

.studyFormatDivs {
  @apply rounded-[20px] ring-1 ring-[#A0B0B0] bg-[#F3F5F5] py-[26px] px-[28px] flex flex-col h-[242px] xl:h-[180px] xl:p-4 md:h-[150px];
}

.studyFormatParagraph {
  @apply text-[22px] leading-[1.325] tracking-[0.36px] text-cGreen mt-auto 2xl:text-lg xl:text-sm;
}

.studyFormatButton {
  @apply px-[15px] ring-1 ring-[#A0B0B0] rounded-[90px] hover:bg-cTextGreen hover:text-cGray hover:ring-[#cTextGray] transition duration-300 text-[22px] leading-[1.325] tracking-[0.36px] text-cGreen 2xl:text-lg xl:text-sm text-nowrap lg:text-sm;
}

.levelDivs {
  @apply p-4 flex flex-col gap-[66px] bg-[#E5E5E5] rounded-[20px] lg:p-2;
}

.levelNumbers {
  @apply size-[32px] rounded-full overflow-hidden flex items-center justify-center leading-[1.325] tracking-[0.36px] text-[#F7F8F8] bg-cGreen lg:size-6 lg:text-xs;
}

.levelParaghraph {
  @apply text-lg text-cGreen leading-[1.325] tracking-[0.36px] 2xl:text-base lg:text-xs;
}

.teacherTitle {
  @apply leading-[1.325] tracking-[0.36px] text-[32px] text-[#EEEEEE] 2xl:text-2xl xl:text-xl lg:text-lg md:text-base;
}

.teacherImage {
  @apply w-full object-cover brightness-[1.2] contrast-[1.1] saturate-[1.3] hue-rotate-[5deg] sepia-[0.05] drop-shadow-lg group-hover:scale-105 transition duration-300;
}

.teacherStatus {
  @apply pl-7 list-disc text-xl custom-text text-[#A2C3C3] 2xl:text-lg xl:text-sm lg:text-xs md:text-[10px];
}

.separateTeacherLine {
  @apply absolute w-[2px] h-full bg-[#FFFFFF]/15 -right-[60px] top-0 2xl:-right-[40px] xl:-right-[30px] lg:-right-[20px];
}

.splide__slide {
  padding: 10px;
}

.h1StudyText {
  @apply text-[32px] leading-[1.325] tracking-[0.36px] text-cGreen 2xl:text-2xl sm:text-lg;
}

.listStudy {
  @apply list-disc pl-5 text-lg leading-[1.325] tracking-[0.36px] text-[#657E7E] flex flex-col gap-2 2xl:text-base xl:w-fit sm:text-sm;
}

.studyTopic + .studyTopic {
  @apply pl-5 xl:pl-0;
}

/* LESSON DETAILS */
.fatherElement {
  @apply rounded-[20px] bg-[#EEEEEE] ring-1 ring-inset ring-[#89A7A6] p-4 hover:bg-cGreen transition duration-500 hover:scale-105 flex flex-col;
}

.mainTitle {
  @apply text-[26px] custom-text text-cGreen group-hover:text-[#E8E8E8] 2xl:text-xl xl:text-lg sm:text-base;
}

.mainTimeElements {
  @apply mt-[64px] mb-[52px] flex justify-between text-cGreen sofiaLight custom-text group-hover:text-[#E8E8E8] 2xl:my-10 xl:my-6 sm:flex-col sm:gap-3 sm:my-4;
}

.partAndPart {
  @apply sofiaMedium text-[36px] group-hover:text-cYellow 2xl:text-2xl xl:text-lg sm:text-base;
}

.paraghraphOfTime {
  @apply sofiaLight text-base group-hover:text-[#E8E8E8] xl:text-sm xl:text-xs;
}

.buttonApply {
  @apply py-2 px-9 rounded-[30px] bg-cGreen text-xl custom-text text-[#EEEEEE] group-hover:bg-cYellow group-hover:text-cGreen 2xl:py-1 2xl:text-lg xl:text-base xl:px-6 sm:text-xs sm:px-4;
}

.aHrefNext {
  @apply ring-1 ring-cGreen rounded-full flex items-center justify-center size-[45px] text-cGreen group-hover:text-cYellow group-hover:ring-cYellow 2xl:size-9 xl:size-7 sm:size-5;
}

.showMoreButton {
  @apply py-2 px-5 rounded-[90px] bg-[#E0E1E5] flex items-center gap-3 sofiaLight text-lg text-cGreen leading-[1.5] hover:bg-cGreen transition duration-300 hover:text-[#EEEEEE] xl:text-base;
}
/* LESSON DETAILS END */

.officer + .officer {
  @apply pt-[26px] sm:pt-4;
}

.goals + .goals {
  @apply pl-[22px] border-l-[2px] border-cGray xl:pl-4 lg:border-0 lg:p-0;
}

.responsiveMt70 {
  @apply 2xl:mt-[60px] xl:mt-10 lg:mt-8 sm:mt-6 mt-[70px];
}

.responsiveMb70 {
  @apply 2xl:mb-[60px] xl:mb-10 lg:mb-8 sm:mb-6 mb-[70px];
}

.buttonInfo + .buttonInfo {
  @apply mt-4;
}

.miniButtonInfo + .miniButtonInfo {
  @apply pt-1;
}

.career + .career {
  @apply pl-[28px] xl:pl-4 lg:pl-2;
}

.splide .splide__pagination {
  @apply s:-bottom-[3%] w-fit absolute -bottom-[15%] left-0 mx-auto;
}

.btns .splide .splide__slide {
  padding: 5px 0px;
}

.btns .splide .splide__pagination {
  display: none;
}

.h1Title48 {
  @apply ahellya leading-[1.325] tracking-[0.36px] text-[48px] text-cGreen pb-[10px] border-b-[2px] border-[#D2DBDB] xl:text-[40px] lg:text-[32px] sm:text-2xl;
}

.event + .event {
  @apply pt-4 sm:p-0;
}

.smEvent + .smEvent {
  @apply pt-4 s:p-0;
}

.links {
  @apply rounded-[90px] ring-1 ring-inset ring-[#657E7E] py-[5px] px-[15px] custom-text text-[#657E7E] hover:ring-cYellow hover:text-cGray xl:py-1 xl:px-3 xl:text-sm lg:px-2 lg:text-xs;
}

.thirdFooterLink {
  @apply text-[#B1C9C8] custom-text text-xl hover:underline xl:text-lg md:text-base;
}

.playButton {
  @apply relative size-[100px] rounded-full flex items-center justify-center bg-cGreen  xl:size-[60px] 
  after:content-[''] before:content-['']
  after:w-full before:w-full after:h-full before:h-full
  after:absolute before:absolute
  after:z-[-1] after:rounded-full before:rounded-full before:z-[-1]
  after:bg-[#436261]/60 before:bg-[#436261]/40;
}

.playButton:hover::after {
  animation: afterPulse 0.6s alternate infinite;
}
.playButton:hover::before {
  animation: beforePulse 0.6s alternate infinite;
}

@keyframes afterPulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes beforePulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.4);
  }
}

.call:hover .callAnimate {
  animation: call alternate 0.4s infinite;
}

@keyframes call {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(20deg);
  }
}
